@import '@styles/base';
.wrapper {
  border-radius: 6px;
  padding: 0.5rem 1.3rem;
  width: max-content;
  cursor: pointer;
  @include screen('small') {
    padding: 0.8rem 1rem;
    height: max-content;
  }
  .text {
    font-size: 18px;
    font-weight: 500;
  }
}
