@import '@styles/base';
.contentWrapper {
  width: 50%;
  height: 70vh;
  position: relative;
  @include directionY;
  justify-content: center;
  align-items: start;
  padding: 0 5rem;
  @include screen('small') {
    width: auto;
    position: absolute;
    left: 0;
    top: 15%;
    overflow: hidden;
    padding: 1.5rem 1.5rem;
    height: max-content;
    margin: 0 1rem;
    border-radius: 12px;
    background-color: white;
  }
  .headingText {
    font-size: 2rem;
    font-weight: 600;
    color: $color-marine-blue;
  }
  .subText {
    color: $color-cool-gray;
    font-weight: 500;
    font-size: 18px;
    margin-top: 1rem;
  }

  .wrapperPickCard {
    @include directionY;
    gap: 1rem;
    margin-top: 2rem;
  }
  .wrapperBtn {
    @include directionX;
    justify-content: space-between;
    margin-top: 4rem;
    width: 100%;
    @include screen('small') {
      position: fixed;
      width: 100%;
      background-color: white;
      left: 0;
      bottom: 0;
      height: 4.5rem;
      @include directionX;
      justify-content: space-around;
      align-items: center;
    }
  }
}
